<div id="div_suscrito">
<form id="frm_suscrito" name="frm_suscrito" class="hform"  ng-submit="updSuscrito()">
<fieldset> <legend> Editar Suscrito</legend>
    <fieldset>
        <label for="id">id : </label>
        <input type="text" name="id" ng-model="suscrito.id"  value="{{id}}" />
    </fieldset>
    <fieldset>
        <label for="nombre">nombre : </label>
        <input type="text" name="nombre" ng-model="suscrito.nombre"  value="{{nombre}}" />
    </fieldset>
    <fieldset>
        <label for="email">email : </label>
        <input type="text" name="email" ng-model="suscrito.email"  value="{{email}}" />
    </fieldset>
    <fieldset>
        <label for="telefono">telefono : </label>
        <input type="text" name="telefono" ng-model="suscrito.telefono"  value="{{telefono}}" />
    </fieldset>
    <fieldset>
        <label for="empresa">empresa : </label>
        <input type="text" name="empresa" ng-model="suscrito.empresa"  value="{{empresa}}" />
    </fieldset>
    <fieldset>
        <label for="mensaje">mensaje : </label>
        <input type="text" name="mensaje" ng-model="suscrito.mensaje"  value="{{mensaje}}" />
    </fieldset>
    <fieldset>
        <label for="created_up">created_up : </label>
        <input type="text" name="created_up" ng-model="suscrito.created_up"  value="{{created_up}}" />
    </fieldset>
     <fieldset class="text-right">
        <button  type="button" id="btnCancelar" onclick="location.href='#/suscrito/listar';">Cancelar </button>
        <button id="btregistrar" ng-disabled="frm_suscrito.$invalid"  >Registrar </button>
    </fieldset>
</fieldset>
</form>
</div>