.bg-magenta-50{
  background-color: rgba($magenta, 0.5)!important;
}

.btn-dark {
  color: #fff;
  background-color: #afafaf;
  border-color: #c5c5c5;
}

.btn-dark {
  color: #fff;
  background-color: #afafaf;
  border-color: #c5c5c5;
}

.btn-dark:hover {
  color: #fff;
  background-color: #868686;
  border-color: #868686;
}