.svg-primary
{
  fill: $primary;
}


.svg-success
{
  fill: $success;
}

.svg-info
{
  fill: $info;
}

.svg-danger
{
  fill: $danger;
}

.svg-warning
{
  fill: $warning;
}

.svg-dark
{
  fill: $dark;
}

.svg-secondary
{
  fill: $secondary;
}


.svg-white
{
  fill: $white;
}

.svg-black
{
  fill: $black;
}

.svg-magenta
{
  fill: $magenta;
}