<div id="div_marca">
<form id="frm_marca" name="frm_marca" class="hform"  ng-submit="setMarca()">
<fieldset> <legend> Nuevo Marca</legend>
    <fieldset>
        <label for="idmarca">idmarca : </label>
        <input type="text" name="idmarca" ng-model="marca.idmarca" />
    </fieldset>
    <fieldset>
        <label for="nombre">nombre : </label>
        <input type="text" name="nombre" ng-model="marca.nombre" />
    </fieldset>
    <fieldset>
        <label for="publicar">publicar : </label>
        <input type="text" name="publicar" ng-model="marca.publicar" />
    </fieldset>
    <fieldset>
        <label for="created_up">created_up : </label>
        <input type="text" name="created_up" ng-model="marca.created_up" />
    </fieldset>
     <fieldset class="text-right">
        <button  type="button" id="btnCancelar" onclick="location.href='#/marca/listar';">Cancelar </button>
        <button id="btregistrar" ng-disabled="frm_marca.$invalid"  >Registrar </button>
    </fieldset>
</fieldset>
</form>
</div>