
$white: #ffffff !default;
$black: #000000 !default;
$grey : #999999 !default;

$blue  : #2C3E87;
$cyan  : #00AEE3;
$red   : #EE3147;
$yellow: #FFDD00;
$green : #A8C724;
$magenta   : #E5097F;

$cyan-dark: #0092D7;
// $green-dark: #86BB30;
$green-dark: #8BB114;
$blue-light: #335093;

// Theme Colors
$primary: $blue !default;
$success: $green !default;
$info   : $cyan !default;
$warning: $yellow !default;
$danger : $red !default;

$secondary: #00FFFF !default;
// $light    : $gray-100 !default;
// $dark     : #30587D !default;

$gray-dark: #E6E6E6 ;

$bg-body-dark: #f0f3f6 !default;

$theme-colors: (
  'magenta': $magenta,
  'gray-dark': $gray-dark,
  'cyan-dark': $cyan-dark,
  'green-dark': $green-dark,
  'blue-light': $blue-light,
);


// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
// $text-color : $gray-600;
// $font-size-base: 0.9rem !default; // Assumes the browser default, typically `16px`

// Body
$body-bg : $white !default;
// $body-color: $gray-900 !default;
