/* .f-merriweather{
  font-family: 'Merriweather', serif!important;
}

.f-leckerli-one{
  font-family: 'Leckerli One', cursive!important;
} */

.f-open-sans{
  font-family: 'Open Sans', sans-serif!important;
}


.f-baloo{
  font-family: 'Baloo', cursive!important;
}
